body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.App {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 3px;
  background-color: pink;
}

button {
  margin-top: 10px;
    background-color: fuchsia;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
};


label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}